<div class="container-fluid">
	<div class=" patient-card-header">
		<div class="iq-header-title">
			<h3 class="mb-0 card-title text-dark ">Patient Details</h3>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="iq-card1 mb-3">
			<div class="clinical-data-nav-btn">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="p-0">
							<button type="button" class="btn btn-primary mr-2 ">Clinical data</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="p-0">
							<button type="button" class="btn btn-primary mr-2 ">Patient profile</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 row m-0 p-0">
			<div class="col-sm-12">
				<div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-user-profile-block height-auto">
					<div class="iq-card-body">
						<div class="user-details-block">
							<div class="user-profile text-center clickable">
								<img src="assets/images/user/12.png" alt="profile-img" class="avatar-130 img-fluid">
							</div>
							<div class="text-center mt-3 clickable">
								<h4 class="p-dashboard-mrn ">ZCF1655</h4><br>
								<h4 class="">Fields Of Lavender</h4>
								<p class="">, 133 Molesworth Street, Thorndon, Wellington- 6011, NEW ZEALAND</p>
							</div>
							<ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-4 mb-0">
								<li class="text-center">
									<h6 class="text-primary ">Weight</h6>
									<h3 class="">65<span>kg</span></h3>
								</li>
								<li class="text-center">
									<h6 class="text-primary ">Height</h6>
									<h3 class="">168<span>cm</span></h3>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				
				<div class="iq-card iq-card-block">
					<div class="iq-card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="mb-3 training-block d-flex align-items-center">
									<div class="patient-db-icon rounded-circle iq-card-icon">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</div>
									<div class="ml-3">
										<h5 class="">Heart Rate</h5>
										<p class="mb-0 ">85 bpm</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="training-block d-flex align-items-center">
									<div class="patient-db-icon rounded-circle iq-card-icon">
										<i class="fa fa-stethoscope" aria-hidden="true"></i>
									</div>
									<div class="ml-3">
										<h5 class="">Blood Pressure</h5>
										<p class="mb-0 ">120/
										80 mmHg</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="iq-card iq-card-block">
					<div class="iq-card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="iq-card mb-3">
									<div class="iq-card-body p-0 ">
										<div class="d-flex align-items-center clickable">
											<div class="patient-db-icon rounded-circle iq-card-icon">
												<i class="fa fa-file" aria-hidden="true"></i>
											</div>
											<div class="ml-3">
												<h5 class="">Patient Proforma</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="iq-card mb-2">
									<div class="iq-card-body p-0 ">
										<div class="d-flex align-items-center clickable">
											<div class="patient-db-icon rounded-circle iq-card-icon">
												<i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
											<div class="ml-3">
												<h5 class="">Blood test analytics</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="data-block">
									<p class="mb-0 ">Smoking</p>
									<h5 class="text-danger">Yes</h5>
								</div>
								<div class="data-block">
									<p class="mb-0 ">Allergies</p>
									<h5 class="text-primary">No</h5>
								</div>
								<div class="data-block">
									<p class="mb-0 ">Alcohol</p>
									<h5 class="text-primary">Yes</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-8">
			<div class="iq-card iq-card-block">
				<div class="iq-card-body pb-0">
					<div class="row">
						<div class="col-lg-12">
							<div class="iq-card">
								<div class="iq-card-header d-flex p-0 bg-white">
									<div class="iq-header-title">
										<h4 class="card-title text-primary ">Review Notes</h4>
									</div>
									<span class="add_review_notes-btn btn">
										+ Add Review Notes
									</span>
								</div>
								<div class="iq-card-body p-0">
									<ul class="nav nav-tabs" id="myTab-1" role="tablist">
										<li class="nav-item">
											<a class="nav-link  active" id="home-tab" role="tab" aria-controls="home" aria-selected="true">All</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" role="tab" aria-controls="contact" aria-selected="false">Community Nurse</a>
										</li>
										<li class="nav-item">
											<a class="nav-link"  id="consent-tab" role="tab" aria-controls="consent" aria-selected="false">GP</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" role="tab" aria-controls="consent" aria-selected="false">Cardiologist</a>
										</li>
									</ul>
									
									<div style="height: calc(100vh - 22rem);overflow-y: auto;padding-right: 10px;">
										<div class="col-lg-12">
											<li>
												<h6 class="float-left mb-1 ">Subject 1 of review note</h6>
												<small class="float-right mt-1 ">2021-07-30</small>
												<div class="d-inline-block w-100">
													<small>Reviewed By:<span class="text-warning ">&nbsp;Johannes John</span></small>
													<div class="d-inline-block w-100 review-note-wrapper">
														<p class="review-note-custom ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														<div class="more-review-note" data-toggle="modal" data-target="#review-note-popup">more</div>
													</div>
												</div>
											</li>
										</div>
										<div style="margin-top:10px;" class="col-lg-12 ">
											<li>
												<h6 class="float-left mb-1 ">Subject 2 of review note</h6>
												<small class="float-right mt-1 ">2021-07-30</small>
												<div class="d-inline-block w-100">
													<small>Reviewed By:<span class="text-warning ">&nbsp;Cardiologist</span></small>
													<div class="d-inline-block w-100 review-note-wrapper">
														<p class="review-note-custom ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														<div class="more-review-note" data-toggle="modal" data-target="#review-note-popup">more</div>
													</div>
												</div>
											</li>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="iq-card iq-card-block">
				<div class="iq-card-body pb-0">
					<div class="row">
						<div class="col-md-12">
							<div class="iq-card">
								<div class="iq-card-header d-flex justify-content-between">
									<div class="iq-header-title">
										<h4 class="card-title ">Medical Images</h4>
									</div>
								</div>
								<div class="iq-card-body p-0">
									<ul class="list-group">
										<li class="list-group-item d-flex justify-content-between align-items-center">Test A
											<span class="badge badge-primary badge-pill">
												<a class="v-p-link">view</a>
											</span>
										</li>
										<li class="list-group-item d-flex justify-content-between align-items-center">Test B
											<span class="badge badge-primary badge-pill">
												<a class="v-p-link">view</a>
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>