<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="row">
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="iq-progress-bar progress-bar-vertical iq-bg-primary">
                        <span class="bg-primary" style="height:20%"></span>
                     </div>
                     <span class="line-height-4 p-count text-primary">10</span>
                     <h5 class="mt-2">Rheumatic heart</h5>
                     <p class="mb-0 text-secondary line-height">Disease</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="iq-progress-bar progress-bar-vertical iq-bg-danger">
                        <span class="bg-danger" data-percent="50"></span>
                     </div>
                     <span class="line-height-4 p-count text-danger">12</span>
                     <h5 class="mt-2">Congenital Heart</h5>
                     <p class="mb-0 text-secondary line-height">Disease</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="iq-progress-bar progress-bar-vertical iq-bg-warning">
                        <span class="bg-warning" data-percent="80"></span>
                     </div>
                     <span class="line-height-4 p-count text-warning">15</span>
                     <h5 class="mt-2">Ischaemic heart</h5>
                     <p class="mb-0 text-secondary line-height">Disease</p>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body">
                     <div class="iq-progress-bar progress-bar-vertical iq-bg-success">
                        <span class="bg-success" data-percent="50"></span>
                     </div>
                     <span class="line-height-4 p-count text-success">12</span>
                     <h5 class="mt-2">Family history</h5>
                     <p class="mb-0 text-secondary line-height">Sudden cardiac death</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 col-lg-8">
         <div class="row">
            <div class="col-sm-12">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Referred to waikato hospital (Last 48 hours) </h4>
                     </div>
                     <div class="iq-card-header-toolbar d-flex align-items-center">
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                           <tbody>
                              <tr>
                                 <td class="text-center">
                                    <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile">
                                 </td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-7610: Patient 1...</h6>
                                       <p class="mb-0 font-size-12">Marcin Szczepanski - #8095, last updated 10 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/f.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-6510: Patient 2...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 1 days ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/f.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-1087: Patient 3...</h6>
                                       <p class="mb-0 font-size-12">Felix Haenel - #8068, last updated 2/6/2020</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/f.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-7076: Patient 4...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 10 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-9610: Patient 5...</h6>
                                       <p class="mb-0 font-size-12">John Van Der Loo - #8093; last updated 18/6/2020</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info">
                                       <h6>MRN-8510: Patient 6...</h6>
                                       <p class="mb-0 font-size-12">Marcin Szczepanski - #8095; last updated 12/6/2020</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="col-sm-12">
                        <nav aria-label="Page navigation example">
                           <ul class="pagination mb-0 float-right">
                              <li class="page-item">
                                 <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                 </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item" ><a class="page-link p-disabled" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                 <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-12">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Recently viewed patients</h4>
                     </div>
                     <div class="iq-card-header-toolbar d-flex align-items-center">
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                           <tbody>
                              <tr>
                                 <td class="text-center">
                                    <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/f.png" alt="profile">
                                 </td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-8610: Patient 1...</h6>
                                       <p class="mb-0 font-size-12">Marcin Szczepanski - #8095, last updated 10 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-6170: Patient 2...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 1 days ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/f.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-5210: Patient 3...</h6>
                                       <p class="mb-0 font-size-12">Felix Haenel - #8068, last updated 2/6/2020</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-1054: Patient 4...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 10 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-1074: Patient 5...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 10 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">
                                 <img class="rounded-circle img-fluid avatar-40" src="assets/images/user/m.png" alt="profile"></td>
                                 <td>
                                    <div class="media-support-info ml-3">
                                       <h6>MRN-4574: Patient 6...</h6>
                                       <p class="mb-0 font-size-12">Lucy Bain - #8092, last updated 20 minutes ago</p>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="align-right">
                                       <i class="fa fa-ellipsis-v ft-12"></i>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <a href="add-patient.html">
            <div class="iq-card iq-card-block">
               <div class="iq-card-body iq-bg-primary rounded">
                  <div class="iq-info-box d-flex align-items-center">
                     <div class="info-image mr-3">
                        <div class="rounded-circle iq-card-icon bg-primary"><i class="fa fa-user-plus"></i></div>
                     </div>
                     <div class="info-text">
                        <h4>add</h4>
                        <span>New Patient</span>
                     </div>
                  </div>
               </div>
            </div>
         </a>
         <div class="iq-card iq-card-block">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Followup List</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <ul class="followup-lists m-0 p-0">
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-5610: Patient 15...</h6>
                        <p class="mb-0 font-size-12">John Van Der Loo - #8093,  Date 3/5/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-3620: Patient 38...</h6>
                        <p class="mb-0 font-size-12">Marcin Szczepanski - #8095,  Date 25/4/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-6650: Patient 12...</h6>
                        <p class="mb-0 font-size-12">Felix Haenel - #8068,  Date 13/4/2020</p>
                     </div>
                  </li>
                  
               </ul>
               
            </div>
         </div>
         <div class="iq-card iq-card-block">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Upcoming Followup</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <ul class="followup-lists m-0 p-0">
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-7610: Patient 22...</h6>
                        <p class="mb-0 font-size-12">Marcin Szczepanski - #8095,  Date 22/5/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-7610: Patient 14...</h6>
                        <p class="mb-0 font-size-12">John Van Der Loo - #8093,  Date 3/4/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-7610: Patient 45...</h6>
                        <p class="mb-0 font-size-12">Marcin Szczepanski - #8095,  Date 27/2/2020</p>
                     </div>
                  </li>
                  
               </ul>
               
            </div>
         </div>
         <div class="iq-card iq-card-block">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Missed Followup</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <ul class="followup-lists m-0 p-0">
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-6150: Patient 45...</h6>
                        <p class="mb-0 font-size-12">John Van Der Loo - #8093,  Due Date 3/5/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-0761: Patient 34...</h6>
                        <p class="mb-0 font-size-12">Marcin Szczepanski - #8095,  Due Date 3/5/2020</p>
                     </div>
                  </li>
                  <li class="d-flex mb-4 align-items-center">
                     <div class="media-support-info ml-3">
                        <h6>MRN-7540: Patient 65...</h6>
                        <p class="mb-0 font-size-12">John Van Der Loo - #8093,  Due Date 3/5/2020</p>
                     </div>
                  </li>
                  
               </ul>
               
            </div>
         </div>
      </div>
   </div>
   
</div>